<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:cg.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="utf-8"/>
    </bean>
	
	
    <bean id="property" class="com.dihaitech.cg.Property">
    	<property name="BASE" value="${cg.base}"></property> 
    	<property name="PAGESIZE" value="${cg.pageSize}"></property> 
    	<property name="ACTION_EXT" value="${cg.actionExt}"></property>
    	<property name="CHARSET" value="${cg.charset}"></property>
    	<property name="TEMPLATE_PATH" value="${cg.templatePath}"></property>
    	<property name="OUTPUT_FILE_PATH" value="${cg.outputFilePath}"></property>
    	<property name="RELATIVE_FILE_PATH" value="${cg.relativeFilePath}"></property>
    </bean>
    
	<!-- 存放Service的Bean的配置文件 -->
	<import resource="serviceContext.xml" />
	
    <!-- 存放Action的Bean的配置文件 -->
	<import resource="actionContext.xml" />
	
</beans>